body,
html {
    background-image: url(img/bgr/bgr3.png);
    background-size: cover;
    animation: fadeIn 2s;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 99.2%;
}

header {
    position: fixed;
    border-bottom: 2px powderblue solid;
    top: 0;
    height: 70px;
    width: 100%;
    z-index: 99;
    background-color: black;
}

#headerLogo {
    position: relative;
    display: flex;
    top: -30%;
    left: 10%;
    width: 110px;
    height: auto;
}

#headerLogo:hover {
    opacity: 0.2;
    transform: scale(1.2);
    transition: all 500ms ease;
}

#imageContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 250px;
    top: 150px;
}

#profilePhoto {
    position: relative;
    display: flex;
    border-radius: 50%;
    top: 10px;
    height: 230px;
    width: auto;
}

#mainContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    top: 400px;
}

#nameContainer {
    position: relative;
    display: flex;
    justify-content: center;
    width: 300px;
    height: 130px;
    border-bottom: 1px silver inset;
}

#name {
    color: silver;
    font-family: Cairo;
    font-weight: lighter;
    font-size: 50px;
    float: left;
    margin-right: 5px;
}

#lastname {
    color: rgb(88, 136, 224);
    margin-left: 5px;
    font-family: Cairo;
    font-weight: bolder;
    font-size: 50px;
    float: left;
}

#socialMedia {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 300px;
    top: 160px;
    height: 50px;
}

#socialMedia #linkedinLogo,
#socialMedia #githubLogo,
#socialMedia #mailLogo,
#socialMedia #resumeLogo {
    position: relative;
    display: flex;
    margin: 0 auto;
    width: 50px;
    height: auto;
}

#socialMedia #linkedinLogo :hover {
    opacity: 0.5;
    transform: scale(1.2);
    transition: all 500ms ease;
}

#socialMedia #githubLogo :hover {
    opacity: 0.5;
    transform: scale(1.2);
    transition: all 500ms ease;
}

#socialMedia #mailLogo :hover {
    opacity: 0.5;
    transform: scale(1.2);
    transition: all 500ms ease;
}

#socialMedia #resumeLogo :hover {
    opacity: 0.5;
    transform: scale(1.2);
    transition: all 500ms ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}